#create-form-content{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
}


#btn-create{
transition: 0.2s;
width: 70%;
}

#btn-create:hover{
  background-color: #3e8e41;
  color: white;
}