
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: black;
}

#landing-page {
  width: 100%;
  max-width: 22vw;
  /* height: 95vw; */
  z-index: 3;
  padding: 25px;
  margin: auto;
  margin-bottom: 15vw;
  background-color: white;
  color: black;
  /* padding: 20px; */
  border: none;
  border-radius: 3px;
  /* position: relative; */
  height: auto;
}
/* #landing-page .checkbox {
  font-weight: 400;
}
#landing-page .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
  
}
#landing-page .form-control:focus {
  z-index: 2;
} */
#landing-page input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#landing-page input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#dashboard {
  width: 100%;
  max-width: 50vw;
  padding: 15px;
  margin: auto;
}

#welcome {
  color: white;
  /* text-shadow: hotpink; */
  font-weight: bold;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

section {
  /* float: right; */
  /* width: 90%; */
}
section div {
  /* width: 500px;
  margin: 50px auto; */
  background-color: #fff;
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  /* border-right: 6px solid rgb(236, 8, 122); */
  z-index: 3;
  position: relative;
}
.edit-form{
  border-left: 6px solid rgb(236, 8, 122);
  border-top: 6px solid black;
}


.text{
  /* width: 500px;
  margin: 50px auto; */
  background-color: rgb(255, 219, 243);
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-left: 6px solid rgb(236, 8, 122);
  z-index: 3;
  position: relative;
}

section div img {
  float: left;
  width: 60px;
  height: 60px;
}
section div textarea {
  width: 400px;
  height: 75px;
  border: none;
  padding: 5px 10px;
  font-family: arial;
  resize: none;
  outline: none;
  border-bottom: 2px solid rgb(236, 8, 122);
}
section div .input-one-line {
  width: 400px;
  /* height: 75px; */
  border: none;
  padding: 5px 10px;
  font-family: arial;
  resize: none;
  outline: none;
  border-bottom: 2px solid rgb(236, 8, 122);
}

section div .due-date {
  width: 75px;
  /* height: 75px; */
  border: none;
  padding: 5px 10px;
  font-family: arial;
  resize: none;
  outline: none;
  border-bottom: 2px solid rgb(236, 8, 122);
}

textarea::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 2px
}
section div [type = submit] {
  /* float: right; */
  /* margin: 15px 10px auto auto; */
  border: none;
  background-color: rgb(236, 8, 122);
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
}

section div .pinkbutton {
  /* float: right; */
  /* margin: 15px 10px auto auto; */
  border: none;
  background-color: rgb(236, 8, 122);
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
}

.edit-or-delete {
  /* float: right; */
  /* margin: 15px 10px auto auto; */
  border: none;
  background-color: black;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
}

.logout {
  border: none;
  background-color: rgb(236, 8, 122);;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 16px;
}

.title-login {
  border: none;
  /* background-color: rgb(236, 8, 122);; */
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
}

.overlay {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}
.post {
  background-color: #fff;
  width: 500px;
  margin: 10px auto;
  padding: 10px;
  color: #333;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-radius: 3px;
}