html {
  font-family: "Nunito";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

.card-title {
  font-weight: bolder;
}

.card-content {
  margin-top: 32px;
}

#login {
  margin-top: 65px;
}

.title h3 {
  margin: 0;
  padding: 40px 0;
  position: relative;
  z-index: 2;
}

