/* Header & Navigation */
body {
  width: 100%;
}

header {
  display: flex !important;
  background-color: #e3f2fd;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0;
  position: fixed;
  width: 80%;
  z-index: 20;
}

header h2 {
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgb(40, 41, 39);
}

ul {
  display: flex;
  align-items: center;
}

header nav li {
  list-style: none;
  margin: 0 0.5rem;
}

header nav a {
  font-weight: 600;
}

/* Cards */

#todoCards {
  padding: 2rem;
  text-align: center;
}

.todolist {
  width: 18rem !important;
  display: inline-block !important;
  margin: 0 1rem;
  text-align: left;
}

.deleteTodo {
  color: gold !important;
}

.btn-group {
  width: 100%;
}

main {
  top: 5rem;
  padding-bottom: 3rem;
  position: relative;
}

/* Form Register */

#registerForm,
#loginForm {
  width: 40%;
  margin: auto;
  padding: 2rem;
}

/* Footer */

footer {
  width: 80%;
  background-color: #e3f2fd;
  color: gold;
  text-align: center;
  bottom: 0;
  position: fixed;
}
footer p {
  padding: 1rem 0;
  margin: 0;
}
