body {
	background-image: url("img/2.png");
	font-family: "Slabo 27px";
	margin: 0;
	padding: 0;
}

img {
	width: 12%;
	padding: 15 10 10 10;
}

header {
	background-color: white;
	position: fixed;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	padding: 20 20 0 0;
}

nav {
	float: right;
}

section {
	padding-top: 80px;
	text-align: center;
}

h1 {
	font-size: 50px;
	text-align: bold;
	padding-bottom: 30px;
}


a {
	text-decoration: none;
	color: #7dbffb;
}

article {
	background-color: white;
	text-align: left;
	margin: 3 205;
	padding: 10 20;
}

footer {
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 100px;
	padding: 5 0;
}